/* 
	Simple Editor
	This snippet enforces a uniform line-height in the editor, no matter what. I find this "pseudo notepad" environment preferable to the more chaotic, jerky formatting shifts that occur switching between modes otherwise.
	Due to fundamental HTML layout differences, I have to enforce a particular "pretty" note formatting style for this consistency.
*/
/*
	Author: ThisTheThe
	Source: github.com/ThisTheThe/MicroMike
	Version: 03/30/2025
	This is a componentized version of a portion of Micro Mike. 
	If you like what you see here, you might like the theme.

	Feel free to give feedback on the theme page, or on Discord - I can be reached at "liblung". 
*/
/* @settings
name: Simple Editor
id: SimpleEditor
settings:
	- 
		id: disableSECodeblock
		title: Disable Simple Editor Code Block
		description: This switch disables the modified, line-height aligned codeblocks.
		type: class-toggle
	- 
		id: disableSECallout
		title: Disable Simple Editor Callout
		description: This switch disables the modified, line-height aligned callout.
		type: class-toggle
*/
body:not(.disableSimpleEditor) :is(.markdown-rendered:not(.community-modal-readme), .cm-scroller) {
  --h1-line-height: var(--line-height-normal);
  --h2-line-height: var(--line-height-normal);
  --h3-line-height: var(--line-height-normal);
  --h4-line-height: var(--line-height-normal);
  --h1-size: 1em;
  --h2-size: 1em;
  --h3-size: 1em;
  --h4-size: 1em;
  --h5-size: 1em;
  --h6-size: 1em;
  --p-spacing: 0px;
  --lineMultiplier: 1.25;
  --line-height-normal: calc(1em * var(--lineMultiplier));
  --margin-scale: calc(var(--font-text-size) * var(--lineMultiplier));
  --anp-font-preview-wt: 200;
  --anp-font-editor-wt: 200;
  --list-spacing: 0px;
}

.workspace-split.mod-root .view-content {
  background-color: var(--bottom);
  padding-left: 5px;
}

.centerAlignReadableLength .cm-sizer, .centerAlignReadableLength .markdown-preview-sizer {
  margin-left: auto;
  margin-right: auto;
}

body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) div:is(.el-p, .el-pre, .el-table, .el-ul, .el-ol) + div > :is(h1, h2, h3, h4, h5, h6),
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) :is(p, pre, table, ul, ol) + :is(h1, h2, h3, h4, h5, h6),
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) .markdown-preview-section :is(p, h1, h2, h3, h4, h5, h6) {
  margin-top: var(--margin-scale);
}
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) .markdown-preview-section blockquote :is(p, h1, h2, h3, h4, h5, h6):first-of-type {
  margin-top: 0;
}
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) .markdown-preview-section :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: var(--margin-scale);
}
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) .markdown-preview-section :is(h1, h2, h3, h4, h5, h6) + div p {
  margin-top: 0;
}
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) .markdown-preview-section .mod-header + div :is(p, h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) div:is(.el-ul, .el-ol) {
  margin-top: var(--margin-scale);
}
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) hr {
  margin-top: calc(var(--margin-scale) * 1.5);
  height: calc(var(--margin-scale) * 0.5);
  margin-bottom: 0px;
}
body:not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) .footnote-ref {
  vertical-align: text-bottom;
}
body:not(.disableSimpleEditor) .markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  padding-left: 5px;
}

body:not(.disableSECodeblock):not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) pre {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  min-height: 0px;
  margin-top: var(--margin-scale);
  margin-bottom: var(--margin-scale);
}

body:not(.disableSECodeblock):not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) pre:before {
  content: "```";
  display: block;
}

body:not(.disableSECodeblock):not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) pre:after {
  content: "```";
  display: block;
}

body:not(.disableSECallout):not(.disableSimpleEditor) .callout {
  padding: 0px;
  padding-left: 5px;
  margin-top: var(--margin-scale);
  margin-bottom: var(--margin-scale);
}

body:not(.disableSECallout):not(.disableSimpleEditor) .markdown-rendered:not(.community-modal-readme) .markdown-preview-section :is(.callout-content) > *:first-of-type {
  margin-top: 0px;
}/*# sourceMappingURL=sSimpleEditor.css.map */