body
{
	--resizeBarsColor: #363636;
	--resizeBarsColorHover: #454545;
	--topBackgroundFocusAbstraction: var(--background-secondary-alt)
}
body:not(.is-focused)
{
	--topBackgroundFocusAbstraction: var(--background-secondary)
}
body:is(.inherit, .dtm08, .twilight)
{
//Tabs
.workspace-split.mod-root .workspace-tabs,
.mod-horizontal.mod-right-split .workspace-tabs
{
	background-color:var(--topBackgroundFocusAbstraction);
}

//Right Sidebar Button
.sidebar-toggle-button.mod-right
{
	background-color:var(--topBackgroundFocusAbstraction);
}
//Resize Bars
.workspace-leaf-resize-handle
{
	background-color: var(--resizeBarsColor);
	border-color: var(--resizeBarsColor);
}
.workspace-leaf-resize-handle:hover
{
	background-color: var(--resizeBarsColorHover);
	border-color: var(--resizeBarsColorHover);
}

}