/* Palette */

body:not(.disableBevels)
{
	/*--lineColor: rgba(255,255,255, 0.2);*/
	--bevelStyleFile: inset 1px 1px var(--separatorColor);
    --bevelStyleFileHover: inset 1px 1px var(--separatorColor);
    --bevelStyleFolder: inset 1px 1px var(--separatorColor);
    --bevelStyleFolderHover:inset 1px 1px var(--separatorColor);
    --bevelStyleFolderLabel:inset 0px 1px var(--separatorColor);
    --bevelStyleFolderLabelHover:inset 0px 1px var(--separatorColor);
    --bevelStyleTreeItem: inset 1px 1px var(--separatorColor);
	
	
}