/* Component: Button */

.clickable-icon
{
	height:40px;
	width:40px;
}
.clickable-icon,
.clickable-icon:hover,
.workspace-tab-header-inner-close-button,
button
{
	padding:0px;
	align-items:center;
	margin:0px;
}
button
{
	padding-left:10px;
	padding-right:10px;
}