/* Component: Left-aligned Tree Layout Coutn */

.tree-item-self.is-clickable
{
	display:flex;
}
.tree-item-flair-outer
{
	order:-1;
	flex-grow:0;
	margin-right:3px;
	margin-left:3px;
	margin-top:auto;
	margin-bottom:auto;
}
.tree-item-inner
{
	flex-shrink:0;
	flex-grow:0;
}