/* Editor Tabs */

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after
{
	display:none;
}
.mod-root .workspace-tab-header-container
{
	height:calc(var(--dragHeight) + var(--tabHeightEditor))
}
.mod-root .workspace-tab-header-container-inner
{
	margin:0px;
	padding:0px;
	margin-top:var(--dragHeight);
	align-items: flex-end;
	bottom:0px;
}
/* I managed to make the tabs close quickly by never specifying in the skin the "height" value for ed. tabs - instead using "max-height". I have no idea why this works. */

.workspace .mod-root .workspace-tab-header
{
	box-shadow:var(--bevelStyleButton);
	height:var(--tabHeightEditor);
	padding:0px;
}
.workspace .mod-root .workspace-tab-header .workspace-tab-header-inner
{
	padding:0px;
}
.workspace .mod-root .workspace-tab-header .workspace-tab-header-inner::after
{
	display:none;
}
.mod-root .workspace-tab-header-inner
{
	height:100%;
}
.mod-root .workspace-tab-header-inner-title
{
	text-align:center;
}
.workspace .mod-root .workspace-tab-header.is-active
{
	padding:0px;
}
.mod-root .workspace-tab-header-new-tab,
.mod-root .workspace-tab-header-tab-list
{
	align-items:flex-end;
	margin-left:0px;
}
.mod-root .workspace-tab-header-new-tab .clickable-icon,
.mod-root .workspace-tab-header-tab-list .clickable-icon
{
	height:calc(100% - var(--dragHeight));
	width:30px;
}
.workspace .mod-root .workspace-tab-header-inner-title
{
    text-decoration-line: none;
}
.workspace .mod-root .workspace-tab-header-inner-icon
{
	height:100%;
	width:30px;
	padding-right:0px;
}
.workspace .mod-root .workspace-tab-header-inner-icon svg
{
	margin:auto;
}
.workspace-tab-header-inner-close-button
{
	position:fixed;
	box-sizing:border-box;
	height:100%;
	min-width:var(--tabHeightEditor);
}
.workspace-tab-header-inner-close-button svg
{
	margin:auto;
}
.workspace .mod-root .workspace-tab-header-tab-list
{
	display:none;
}