/* Editor Tabs (Stack Mode) */
 .stackTabs .mod-root .workspace-tabs 
{
	flex-direction: row;
}
.stackTabs .mod-root .workspace-tab-header-container
{	
	height:100%;
	flex-direction: column;
	padding-right:0px !important;
}
 .stackTabs .mod-root .workspace-tab-header-container-inner
{
	flex-direction: column;
	flex-grow:1;
	margin:0px;
	padding:0px;
	height:100%;
	border-right: 1px solid var(--level2);
	/*border-left: 1px solid var(--level2);;*/
	margin-top:0px;
	justify-content:left;

	align-items:flex-start;
}
.stackTabs .mod-root .workspace-tab-header
{
	flex-basis:0px;
	height:0px;
	max-height:var(--tabHeightEditorStack);
	max-width:var(--editorStackWidth);
	flex-grow:1;
	min-width:0px;
}
.stackTabs .mod-root .workspace-tab-header.is-active
{
	text-decoration: underline;
}
 .stackTabs .mod-root .workspace-tab-header-inner
{
	flex-grow:1;
	margin:0px;
	padding:0px;	
}
.stackTabs .mod-root .workspace-tab-header-inner-title
{
	margin-left:5%;
	display:flex;
	flex-grow:1;
	flex-basis:40px;
	flex-shrink:1;
}
.stackTabs .mod-root .workspace-tab-header-inner-close-button
{
	width:40px;
	box-shadow: var(--bevelStyleButton);
	height:100%;
	justify-content:center;
	flex-shrink:1;
}
.stackTabs .mod-root .workspace-tab-header-new-tab
{
	margin:0px;
	border-right: 1px solid var(--level2_a);
}
.stackTabs .mod-root .workspace-tab-header-tab-list .clickable-icon,
.stackTabs .mod-root .workspace-tab-header-new-tab .clickable-icon
{
	height:40px;
	width:100%;
}
.workspace-tab-header-new-tab
{
	padding:0px;
	margin:0px;
}
/* Tab sizing */

.stackTabs .mod-root .workspace-tab-header-tab-list
{
	display:none;
}

.is-hidden-frameless:not(.is-fullscreen) .workspace-tabs.mod-top-right-space .workspace-tab-header-container:after
{
	display:none;
}