body:not(.anp-alternate-tab-toggle):not(.anp-disable-newtab-align) .workspace-split.mod-vertical .workspace-tab-header-new-tab
{
    margin-left:0px;
}
.anp-full-rainbow-color-toggle .nav-folder.mod-root > .nav-folder-children > .nav-folder
{
	border-radius:0px;
	margin-bottom: 0px;
}
.anp-custom-vault-toggle .nav-folder.mod-root > .nav-folder-title > .nav-folder-title-content:before
{
	margin-top:4px;
}
.anp-full-rainbow-color-toggle .nav-folder.mod-root .nav-folder > .nav-folder-children
{
	padding-left: var(--nav-item-children-padding-left) ;
	padding-right: 0px ;
}
.anp-full-rainbow-color-toggle .nav-folder.mod-root > .nav-folder-children > .nav-folder .nav-folder-title, .anp-full-rainbow-color-toggle .nav-folder.mod-root > .nav-folder-children > .nav-folder .nav-file-title, .anp-full-rainbow-color-toggle .tree-item-self .tree-item-icon
{
	color: var(--icon-color);
}