/* Outgoing Links */

.outgoing-link-pane .tree-item-self .tree-item-inner
{
	width:100%;
	display:flex;
	justify-content: space-between;
	border-bottom:1px solid var(--separatorColor);
}

.outgoing-link-pane :not(.search-result-container) .tree-item-self .tree-item-inner
{
	border:0px;
}
.outgoing-link-pane .tree-item-inner
{
	margin-left:0px;
}
.tree-item-inner-subtext
{
	font-size:12px;
	color: var(--nav-item-color);
}