/* Plugin: Boost Link */

.boostlink-item
{
	font-size:1em;
	color:var(--text-normal);
}
.boostlink-suggester-el
{
	width:800px;
}
.boostlink-suggester-el *
{
	width:800px;
}
/*
.boostlink-count,
.boostlink-is-alias,
.boostlink-alias {
	display:none;
}
*/