/* Plugin: Pane Relief */

.view-header-nav-buttons .clickable-icon::before,
.view-header-nav-buttons .clickable-icon::after
{
	line-height:100%;
	margin-bottom:3px;
}
/* Pane Relief Button History Counts */
body:not(.pane-relief-disable-counts) .view-header-nav-buttons svg
{
	display:flex;
	flex-grow:1;
}
body:not(.pane-relief-disable-counts) .view-header-nav-buttons button
{
	position:relative;
	justify-content: center;
}
body:not(.pane-relief-disable-counts) .view-header-nav-buttons button:first-child:before,
body:not(.pane-relief-disable-counts) .view-header-nav-buttons button:last-child:after
{
	position:absolute;
	margin-left:3px;
	display:flex;
	flex-grow:0;
	font-size:30px;
	min-width: 1em;
}
body:not(.pane-relief-disable-counts) .view-header-nav-buttons button:first-child:before
{
	left:0px;
	display:none;
}
body:not(.pane-relief-disable-counts) .view-header-nav-buttons button:last-child:after
{
	right:0px;
	display:none;
}