/* Plugin: Quick Explorer */

.status-bar
{
	border-left:0px;
}
.status-bar-item.left-region
{
	padding:0px;
	margin:0px;
	border-left:0px;
}
#quick-explorer
{
	padding:0px;
}

.explorable.titlebar-button .explorable-name
{
	padding-right:5px;
	padding-left:5px;
}
.explorable-name,
.explorable-separator
{
	font-size:16px;
	line-height:22px;
	height:23px;
}
/* Dropdown */
.qe-popup-menu { 
	margin-left:33px;
	max-height:50%;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
}
.qe-popup-menu+.qe-popup-menu
{
	margin-left:30px;
}
.qe-popup-menu .menu-item { 
	min-height:20px;
	height:50px;
	flex-grow: 1;
	padding-right:10px;
}
/* Accents not preferred! */
#quick-explorer .explorable.selected, #quick-explorer .explorable:hover,
.qe-popup-menu .menu-item:not(.is-disabled):not(.is-label).selected {
    background-color: var(--background-modifier-hover);
    color:var(--text-normal);
}
#quick-explorer .explorable.selected, #quick-explorer .explorable:hover svg,
.qe-popup-menu .menu-item:not(.is-disabled):not(.is-label).selected svg
{
    background-color: var(--background-modifier-hover);
    color:var(--text-normal);
}