/* > TERMINAL: BETTER PROMPT WINDOW */

/* PROMPT WINDOW */

.prompt {
  display: unset;
  /* position: absolute; */
  bottom: 0px;
  top: 59%;
  right:25%;
  width: 50%;
  max-width: unset;
  max-height: 50%;
  border:0;
  border-style: solid;
  border-width: 0px 0 0px 0;
  border-radius: unset;
  /* padding-top: 9px; */
  padding: 0px 5px;
  align-content: center;
}
input {
  font-family: var(--the-font) !important;
}
input.prompt-input {
  padding: 0 0 0 5px; /* same as CodeMirror line */
  margin: 5px 0 0 0;
  border-width: 0;
  top:2px;
  height:40px;
}
input.prompt-input:hover, input.prompt-input:focus, input.prompt-input:focus-visible
{
  border:0px;
}
.prompt:before {
  content: var(--input-prompt);
  position: absolute;
  top: calc(20px - 0.5 * var(--editor-line-height) * 1em);
  left: calc(20px - 0.5em);
}
.prompt-results {
  position: absolute;
  top: calc(50px);
  bottom: 0;
  right: 5px;
  left: 5px;
  /* max-height: 90%; */
  padding-top: 0;
  padding:0px;
}

/* Hide instructions */
.prompt-instructions {
  display:none;
}


.suggestion-container:not(.mod-search-suggestion) {
  max-width: 33%;
  width: 100%;
  height: calc( var(--font-text-size) * 24 + 2px);
  border-radius: 0;
  border-width: 1px 0 1px 0;
  padding: 0 10px 0 10px;
  margin-top: -5px;
  box-shadow: none;
  align-content: center;
}
.suggestion {
  max-height: 100%;
}
.suggestion-item {
  padding: 0 0 0 3px;
  border-width: 0;
  border-bottom:1px solid var(--lineColor);
}


body:not(.showSuggestionDirectory) .suggestion-item .suggestion-note {
  display: none;
}
.suggestion-hotkey
{
  height:18px;
}