/* Search */

body
{
	--search-result-background: var(--bottom_b);
}
.nav-header ~ .search-input-container
{
	margin:3px;
	width:calc(100% - 6px);
}
.search-result-file-match
{
	padding:3px;
}
.search-result-file-match-destination-file-container
{
	margin:0px;
}
.search-result-file-match-destination-file
{
	padding:3px;
	margin:0px;
}
.search-result-hover-button
{
	height:49.4%;
	width:30px;
}
.search-result-hover-button.mod-bottom
{
}
.search-result-hover-button svg
{
	margin:auto;
}
.workspace-leaf-content[data-type=search] .clickable-icon
{
	display:none;
}
.workspace-leaf-content[data-type=search] .tree-item-inner
{
	margin-left:0px;
}

.workspace-leaf-content[data-type=search] .search-results-children
{
	margin-top:3px;
}
.search-result-file-matches
{
	
	margin:0px;
}