body:not(.oldPalette)
{
	--icon-color: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 30% + 30%));
    --icon-color-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 30% + 35%));
    --icon-color-active: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 30% + 50%));
    --icon-color-focused: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 30% + 35%));
	
	--tab-text-color-focused-active-current: var(--icon-color-focused);
}
body
{
	/* Hierarchical palette */
	/*

	*/
	--bottom: #000000;
	--bottom_a: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 6% ));
	--bottom_b: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 12% ));
	--level1: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 18% ));
	--level1_a: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 24% ));
	--level1_b: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 27% ));
	--level2: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 27% ));
	--level2_a: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 30% ));
	--level2_b: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 33% ));
	--level3: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 33% ));
	--level3_a: hsl(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 36% ));
	
	/* Bevels */
	
	--bevelBright1: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensityBevel) * 35% + 40%), 50%);
	--bevelBright2: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensityBevel) * 25% + 40% ), 50%);
	--bevelDark1: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensityBevel) * 20% + 25% ), 50%);
	--bevelDark2: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensityBevel) * 20% + 35% ), 50%);
	
	--lineColor: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 40% + 20%), 50%);
	/*

	*/
	/*
	--bevelBright1: red;
	--bevelBright2: green;
	--bevelDark1: yellow; 
	--bevelDark2: purple; 
	*/
	/*
	--levelLayer: #ffffff18;
	--levelHover: #ffffff11;
	*/
	--levelLayer: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 45%), 12%);
	--levelHover: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 45%), 24%);
	--buttonLayer: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 45%), 24%);
	--buttonLayerHover: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 45%), 36%);
	--separatorColor: hsla(var(--accent-h), var(--accent-s), calc(var(--colorIntensity) * 45%), 40%);
	
	--nav-item-background-hover: var(--levelHover);
    --nav-item-background-active: var(--levelHover);
	/*
	--icon-color: hsl(var(--accent-h), var(--accent-s), 55%);
    --icon-color-hover: hsl(var(--accent-h), var(--accent-s), 60%);
    --icon-color-active: hsl(var(--accent-h), var(--accent-s), 75%);
    --icon-color-focused: hsl(var(--accent-h), var(--accent-s), 60%);
	*/
}

body.oldPalette {
	--bottom: #000000;
	--bottom_a:#111111;
	--bottom_b:#222222;
	--level1: #333333;
	--level1_a: #444444;
	--level1_b: #4b4b4b;
	--level2: #4b4b4b;
	--level2_a: #555555;
	--level2_b: #5b5b5b;
	--level3: #555555;
	--level3_a: #666666;
	--collapseIconColor: #999999;
		--bevelBright1: #a3a5aa99;
	--bevelBright2: #8B8D9199;
	--bevelDark1: #5A5A5A99; 
	--bevelDark2: #7A767299; 
		--levelLayer: #ffffff18;
	--levelHover: #ffffff11;
}
body:not(.disableBevels) {
	--bevelStyleButton: inset -1px -1px var(--bevelDark1), inset 1px 1px var(--bevelBright2), inset -2px -2px var(--bevelDark2), inset 2px 2px var(--bevelBright1);
	--bevelStyleContainer: inset -1px -1px var(--bevelBright1), inset 1px 1px var(--bevelDark2), inset -2px -2px var(--bevelBright2), inset 2px 2px var(--bevelDark1);
    --bevelStyleContainerOuter:
    1px 1px var(--bevelBright1),
    -1px -1px var(--bevelDark2),
    -2px -2px var(--bevelDark1),
    2px 2px var(--bevelBright2),
    -2px 0px var(--bevelDark1),
    0px -2px var(--bevelDark1),
    -2px 2px var(--bevelBright2),
    2px -2px var(--bevelBright2);
}

body{
	
    --background-primary: var(--level1_a);
    --background-primary-alt: var(--level1_b);
    --background-secondary: var(--level1);
	--modal-border-color: var(--level3);
	--divider-color: var(--level3);
	--background-modifier-border: var(--level3);
	--background-modifier-border-hover: var(--level3_a);
    --background-modifier-border-focus: var(--level3_a);
	--text-on-accent-inverted: #ffffff;
}
/* Button Component */
.theme-dark
{
	--input-shadow: var(--bevelStyleButton);
	--input-shadow-hover: var(--bevelStyleButton);
	--interactive-normal: var(--level2);
	--interactive-hover: var(--level2_a);
}
.clickable-icon,
.clickable-icon:hover,
.workspace-tab-header-inner-close-button,
button
{
	box-shadow:var(--bevelStyleButton);
}
/* Dashboard Component */
.view-header,
.mod-left-split .nav-header,
.mod-right-split .nav-header
{
	padding:3px;
	background-color:var(--level2);
	box-shadow:var(--bevelStyleButton);
	border:0px;
}
/* Input Component */
textarea, input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number']
{
	padding:3px;
	box-shadow:var(--bevelStyleContainer);
}
textarea:active,
input[type='text']:active,
input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
textarea:focus,
input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
textarea:focus-visible,
input[type='text']:focus-visible,
input[type='search']:focus-visible,
input[type='email']:focus-visible,
input[type='password']:focus-visible,
input[type='number']:focus-visible {
  box-shadow:var(--bevelStyleContainer);
}
textarea, input.metadata-input-text, input[type='date'], input[type='datetime-local'], input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number']
{
	background-color:var(--level1);
}
input.slider
{
	background-color:var(--level2);
}
/* Sidebar Container Component*/
.workspace-leaf-content[data-type=file-explorer] .nav-files-container.node-insert-event,
.workspace-leaf-content[data-type=search] .search-result-container.mod-global-search.node-insert-event,
.workspace-leaf-content[data-type=outline] .view-content,
.workspace-leaf-content[data-type=tag] .tag-container.node-insert-event,
.workspace-leaf-content[data-type=backlink] .backlink-pane.node-insert-event,
.workspace-leaf-content[data-type=outgoing-link] .outgoing-link-pane.node-insert-event,
.workspace-leaf-content[data-type=starred] .item-list,
.workspace-leaf-content[data-type=recent-files]
{
	background: var(--bottom);
	box-shadow:var(--bevelStyleContainer);
	box-shadow:var(--bevelStyleContainerOuter);
}
.workspace-leaf.mod-active,
.workspace-tabs .workspace-leaf
{
	background: var(--bottom);
}
/* Sidebar Dashboard Component*/
.clickable-icon.nav-action-button
{
	opacity:1;
	background-color: var(--level2);
}
.clickable-icon.nav-action-button:hover
{
	background-color: var(--level2_a);
}
.clickable-icon.nav-action-button.is-active
{
	background-color: var(--level2_b);}
}
/* Tree View Component*/
.tree-item-self {
  color: var(--backgroundDeep);
}
.is-clickable .tree-item-icon.collapse-icon {
	box-shadow: var(--bevelStyleButton);
	background-color: var(--level1);
}
.is-clickable .tree-item-icon.collapse-icon:hover
{
	background-color:var(--level1_a);
}
.workspace-leaf-content[data-type=outline] .is-clickable .tree-item-icon.collapse-icon:hover
{
	background-color:var(--level2);
}
/* Dropdown */
.workspace-leaf-content[data-type=empty] .view-header,
.is-focused .workspace-leaf-content[data-type=empty] .view-header,
.workspace-leaf-content[data-type=markdown] .view-header,
.is-focused .workspace-leaf-content[data-type=markdown] .view-header
{
	background-color:var(--level2);
}
/* Find Tool */
.document-search-container
{
	box-shadow:var(--bevelStyleButton);
}
.document-search-button,
.document-search-close-button
{
	background-color: var(--level2);
}
.document-search-close-button
{
	box-shadow:var(--bevelStyleButton);
}
/* Editor Tabs */
.mod-root .workspace-tab-header-container
{
	background-color:var(--bottom);
}
.workspace .mod-root .workspace-tab-header
{
	box-shadow:var(--bevelStyleButton);
	background-color:var(--level1);
}
.workspace .mod-root .workspace-tab-header:hover
{
	background-color:var(--level1_a);
}
.workspace .mod-root .workspace-tab-header.is-active
{
	background-color:var(--level1_b);
}
.mod-root .workspace-tab-header-new-tab .clickable-icon,
.mod-root .workspace-tab-header-tab-list .clickable-icon
{
	background-color:var(--level1);
	opacity:1;
}
.mod-root .workspace-tab-header-new-tab .clickable-icon:hover,
.mod-root .workspace-tab-header-tab-list .clickable-icon:hover
{
	background-color:var(--level1_a);
}
.workspace-tab-header-inner-close-button
{
	background-color:var(--level1);
}
.workspace-tab-header:hover .workspace-tab-header-inner-close-button
{
	background-color:var(--level1_a);
}
.workspace-tab-header.is-active .workspace-tab-header-inner-close-button
{
	background-color:var(--level2);
}
.workspace-tab-header .workspace-tab-header-inner-close-button:hover
{
	background-color:var(--level2_b);
}
/* Stacked Editor Tabs */

.stackTabs .mod-root .workspace-tab-header-container-inner
{
	background-color: var(--bottom);
}
.stackTabs .mod-root .workspace-tab-header-inner-close-button
{
	box-shadow: var(--bevelStyleButton);
}
/* Editor View */
.workspace-split.mod-root .view-content
{
  background-color: var(--bottom);
}
.workspace-leaf-content[data-mode="preview"] .view-content
{
	background: linear-gradient(90deg, var(--bottom) 0%, var(--level2) 5px, var(--level1) 15px, rgba(0,0,0,1) 30px);
}
/* Embeds */
.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
  box-shadow: var(--bevelStyleContainer);
}
.markdown-preview-view .markdown-embed:hover
{
  background-color:var(--bottom);
}
/* File Browser */
.nav-file-title
{
}
.nav-folder-title
{
}
.tree-item.nav-folder:not(.mod-root)
{
	color:red;
	background-color: var(--levelLayer);
}
body:not(.is-grabbing) .nav-file-title:hover {
	background-color:var(--levelHover);
}
body:not(.is-grabbing) .nav-folder-title:hover {
	background-color:var(--levelHover);
}
.nav-folder.mod-root .nav-folder > .nav-folder-children
{
	border-left: 1px solid var(--separatorColor);
}
/* Update */
/*
body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
	color: var(--nav-item-color);
	background-color:var(--level1_a);
}
body:not(.is-grabbing) .tree-item-self.is-clickable.nav-file-title:hover{
	color: var(--nav-item-color);
	background-color:var(--bottom_a);
}
body:not(.is-grabbing) .nav-file-title.tree-item-self.is-clickable:hover
body:not(.is-grabbing) .nav-folder-title.tree-item-self.is-clickable:hover
{
	background-color:var(--level1_a);
	color: var(--nav-item-color);
}
body:not(.is-grabbing) .tree-item-self.is-clickable.nav-file-title.is-active:hover, 
body:not(.is-grabbing) .tree-item-self.is-clickable.nav-folder-title.is-active:hover, 
.tree-item-self.is-clickable.nav-file-title.is-active, 
.tree-item-self.is-clickable.nav-folder-title.is-active {
	background-color:var(--bottom_b);
	color: var(--nav-item-color);
}
.nav-folder-title.is-active,
.nav-folder-title.is-selected,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-selected:hover
{
	background-color:var(--level2);
}
body:not(.is-grabbing) .nav-file-title.is-being-dragged,
body:not(.is-grabbing) .nav-folder-title.is-being-dragged,
.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged {
  background-color: var(--interactive-accent);
}
.nav-folder-collapse-indicator.collapse-icon svg.svg-icon {
	color:var(--collapseIconColor);
}
.nav-folder.mod-root>.nav-folder-title:first-of-type:hover
{
  background-color:var(--level1);
}*/
/* Outline (specific) */

.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable
{
	box-shadow:var(--bevelStyleTreeItem);
}
.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable:hover
{
	background-color: var(--bottom_a);
}
.workspace-leaf-content[data-type=outline] .tree-item-inner
{
	border-left:1px solid var(--separatorColor);
}
.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable:hover .tree-item-inner
{
	border-left:1px solid var(--separatorColor);
}
/* Quick Explorer */
.explorable.titlebar-button
{

	box-shadow:var(--bevelStyleButton);
	background-color:var(--level2);
}
.explorable.titlebar-button:hover
{
	background-color:var(--level2_a);
}
#quick-explorer .explorable.selected, #quick-explorer .explorable:hover,
.qe-popup-menu .menu-item:not(.is-disabled):not(.is-label).selected {
    background-color: var(--level2);
}
/* Prompt */
.prompt {
	background-color:var(--level1);
	box-shadow:var(--bevelStyleButton);
}
input.prompt-input {
  background-color:var(--bottom);
}
input.prompt-input:hover, input.prompt-input:focus, input.prompt-input:focus-visible
{
  box-shadow:var(--bevelStyleContainer);
}
.modal-bg {
  background-color: unset;
}
/* Resize Bars */
.workspace-split.mod-horizontal.mod-right-split
{
	background-color:var(--level1);
}
.workspace-split.mod-horizontal.mod-left-split
{
	background-color:var(--level1);
}
.mod-left-split .workspace-tabs
{
	background-color:var(--level1);
}

.mod-right-split .workspace-tabs
{
	background-color:var(--level1);
}
.mod-left-split > hr,
.mod-right-split > hr
/*.mod-vertical>div>hr*/
{
	  border-left:1px solid var(--level2);
  border-right:1px solid var(--level2);
}
.mod-horizontal>div>hr:not(.mod-root hr)
{
		  border-top:1px solid var(--level2);
  border-bottom:1px solid var(--level2);
}
/* Ribbon */
body
{
  --ribbon-background: var(--bottom);
  --ribbon-background-collapsed: var(--bottom);
}
.clickable-icon.side-dock-ribbon-action {
    background-color: var(--level1);
}
.clickable-icon.side-dock-ribbon-action:hover
{
    background-color: var(--level1_a);
}
.workspace-ribbon.side-dock-ribbon.mod-left
{
	border-right: var(--divider-width) solid var(--line-color);
}
/* Settings */
.modal-bg
{
  background-color:transparent;
}
.modal.mod-community-theme,
.modal.mod-community-plugin{
  background-color: var(--level1);
}
.modal-container.mod-dim .modal.mod-settings,
.modal-container.mod-dim .modal.mod-community-plugin,
.modal-container.mod-dim .modal.mod-community-theme,
.modal.mod-community-theme
{
  box-shadow:var(--bevelStyleButton);
  
}
.modal.mod-settings .vertical-tab-header
{
	
  background-color: var(--bottom_b);
}
.modal.mod-settings .vertical-tab-content-container
{
  background-color: var(--level1);
}
.modal.mod-settings .vertical-tab-content
{
	box-shadow:var(--bevelStyleButton);
	background-color: var(--level1);
}
.setting-item
{
    border-top: 1px solid var(--level3);
}
.dropdown,
.search-results-info .dropdown
{
  background-color:var(--level1_a);
}
.dropdown:hover,
.search-results-info .dropdown:hover
{
  box-shadow:var(--bevelStyleButton);
  background-color:var(--level1_b);
}
.modal .clickable-icon
{
  background-color:var(--level1_a);
}
.modal .clickable-icon:hover
{
  background-color:var(--level1_b)
}
/*.checkbox-container
{
  background-color:var(--level3);
}
.community-modal-details
{
  background-color:var(--level1_a);
}*/
.modal .clickable-icon
{
  background-color:var(--level1_a);
}
.vertical-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active:hover
{
	background-color: var(--background-modifier-hover);
}
/* Sidebar Tabs */
.mod-left-split .workspace-tab-header-container,
.mod-right-split .workspace-tab-header-container
{
	background-color: var(--bottom);
}
.mod-left-split .workspace-tab-header, 
.mod-right-split .workspace-tab-header
{
    box-shadow: var(--bevelStyleButton);
	background-color: var(--level1);
}
.mod-left-split .workspace-tab-header:hover, 
.mod-right-split .workspace-tab-header:hover
{
	background-color: var(--level1_a);
}
.workspace-tab-header:hover
{
	background-color: var(--level1_a);
}
.workspace-tab-header.is-active
{
	background-color: var(--level1_b);
}
.workspace-tab-header.is-active:hover,
.workspace-tab-header.mod-active.is-active:hover
{
	background-color: var(--level1_b);
}
.mod-left-split .workspace-tab-header.has-active-menu, 
.mod-right-split .workspace-tab-header.has-active-menu, 
.mod-left-split .workspace-tab-header.is-active, 
.mod-right-split .workspace-tab-header.is-active
{
	background-color: var(--level1_b);
}

@media (hover: hover) {
  .mod-left-split .workspace-tab-header.has-active-menu:hover,
  .mod-right-split .workspace-tab-header.has-active-menu:hover,
  .mod-left-split .workspace-tab-header.is-active:hover,
  .mod-right-split .workspace-tab-header.is-active:hover {
    background-color: var(--level1_b);
  }
}
.workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner
{
	background-color:transparent;
}
/* Sidebar Toggle Left */
.sidebar-toggle-button.mod-left .clickable-icon
{
	background-color:var(--level1);
}

.sidebar-toggle-button.mod-left .clickable-icon:hover
{
	background-color:var(--level1_a);
}
.is-collapsed .sidebar-toggle-button.mod-left .clickable-icon
{
	background-color:var(--level1_b);
}
.is-collapsed .sidebar-toggle-button.mod-left .clickable-icon {
    background-color: var(--level2);
}
.is-collapsed .sidebar-toggle-button.mod-left .clickable-icon:hover {
    background-color: var(--level2_a);
}
/* Sidebar Toggle Right */
.sidebar-toggle-button.mod-right .clickable-icon
{
	background-color:var(--level1);
}
.sidebar-toggle-button.mod-right .clickable-icon:hover
{
	background-color:var(--level1_a);
}
.mod-top-right-space .sidebar-toggle-button.mod-right .clickable-icon
{
	background-color:var(--level2);
}
.mod-top-right-space .sidebar-toggle-button.mod-right .clickable-icon:hover
{
	background-color:var(--level2_a);
}

/* Theme Picker */

	.community-item
	{
	--background-modifier-border: var(--level3);
	--background-modifier-border-hover: var(--level3_a);
	}
	.community-item.is-selected,
	.community-item.is-selected:hover
	{
		border-color: var(--level3_a);
		background-color: var(--level3);
	}
	.community-modal-details
	{
		background-color:transparent;
	}

/* Titlebar */
.titlebar-button-container .titlebar-button
{
	box-shadow: var(--bevelStyleButton);
}
.titlebar-button-container .titlebar-button:hover
{
	background-color:var(--level2);
}
.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right,
.is-hidden-frameless:not(.is-fullscreen).is-focused .titlebar-button-container.mod-right
{
	background-color:var(--bottom);
}

.tree-item 