body
	--canvas-background: black

.canvas-wrapper
	.markdown-preview-view.markdown-rendered.node-insert-event
		padding-left: 5px !important
		padding-right: 5px !important
		p
			font-size: 20px
		&::before, &::after
			display: none
		.markdown-preview-sizer 
			flex-direction: column
			display: flex
			align-content: center
			justify-content: center


.markdown-source-view.mod-inside-iframe > .cm-editor > .cm-scroller
	padding-left: 5px !important
	padding-right: 5px !important
