@use 'std'

body
	--header-height: var(--editorDashboardHeight)

:is(.workspace-leaf-content[data-type="markdown"], .workspace-leaf-content[data-type="empty"]) .view-header 
	@include std.noPadding
	height: var(--editorDashboardHeight)
	min-height: var(--editorDashboardHeight)
	div
		width: var(--editorDashboardButtonsWidth)
		> :is(button, a, div)
			@include std.noPadding
			flex-grow: 1
			height: var(--editorDashboardHeight)
		.view-header-title-parent
			display: none
		.view-header-title
			display: inline-block
			min-width: 100%
			text-align: center
			vertical-align: middle
			font-size: 20px
			&::before
				content: ''
				display: inline-block
				height: 100%
				vertical-align: middle
	.view-header-title-container::after
		@include std.die
