/*
	Author: ThisTheThe
	Source: github.com/ThisTheThe/MicroMike
	Version: 03/11/2025
	This is a componentized version of a portion of Micro Mike. 
	If you like what you see here, you might like the theme.
	
	Feel free to give feedback on the theme page, or on Discord - I can be reached at "liblung". 
*/