body
{
	--settingsHSize: 100%;
	--settingsWSize: 60%;
	--settingsOffsetX: 0px;
	--settingsMinWidth: 800px;
}

/* @settings
name: Settings Positioning
id: SettingsPositioning
settings:
	-
		id: settingsAlignment
		title: Settings Alignment
		description: Pick the compass direction that the generic (file seeking, etc...) settings is aligned to.
		type: class-select
		allowEmpty: false
		default: settingsWAlign
		options:
			- 
                label: Centered
                value: settingsCAlign
            - 
                label: North
                value: settingsNAlign
			- 
                label: Northeast
                value: settingsNEAlign
            - 
                label: East
                value: settingsEAlign
			- 
                label: Southeast
                value: settingsSEAlign
            - 
                label: South
                value: settingsSAlign
			- 
                label: Southwest
                value: settingsSWAlign
            - 
                label: West
                value: settingsWAlign
			- 
                label: Northwest
                value: settingsNWAlign
	-
		id: settingsHSize
		title: Settings Height
		description: In percentage, choose the height of the settings.
		type: variable-number-slider
		default: 100
		min: 35
		max: 100
		step: 5
		format: "%"
	-
		id: settingsWSize
		title: Settings Width
		description: In percentage, choose the width of the settings.
		type: variable-number-slider
		default: 60
		min: 50
		max: 100
		step: 5
		format: "%"
	-
		id: settingsOffsetX
		title: Settings X Offset
		description: Choose an X offset for the settings. If uncarefully applied, will cause it to move offscreen.
		type: variable-number-slider
		default: 0
		min: -520
		max: 520
		step: 40
		format: px
	-
		id: settingsOffsetY
		title: Settings Y Offset
		description: Choose a Y offset for the settings. If uncarefully applied, will cause it to move offscreen.
		type: variable-number-slider
		default: 0
		min: -500
		max: 500
		step: 10
		format: px
	-
		id: settingsMinWidth
		title: Settings Min Width
		description: The settings window is not allowed to become any smaller than this size. The max size is defined by the above setting.
		type: variable-number-slider
		default: 800
		min: 500
		max: 1200
		step: 10
		format: px
*/