.outline {	
	padding: 0px;
	overflow: clip;
}
.tree-item-self {
  padding: 0px;
}
.tree-item-self.is-clickable
{
	padding:0px;
	margin:auto;
}
.tree-item-self.is-clickable:hover
{
	padding:0px;
	text-decoration: underline;
}
.tree-item-inner 
{
	font-size: 11px;
	margin: 0px;
	line-height:var(--outlineHeight);
	min-height:var(--outlineHeight);
	margin-top:auto;
	margin-bottom:auto;
	padding-left:3px;
	flex-shrink:1;	
}
.is-clickable .tree-item-icon.collapse-icon {
	width:var(--outlineLevelWidth);
	padding:0px;
	margin-left:0px;
	height:var(--outlineHeight);
}
.workspace-leaf-content[data-type=outline] .is-clickable .tree-item-icon.collapse-icon:hover
{
}
.is-collapsed .collapse-icon svg.svg-icon,
.tree-item-icon.collapse-icon svg{
    margin: auto;
  /*display: none;*/
}
.tree-item-icon.collapse-icon:hover svg{
}
.tree-item-children
{
	margin-left:calc(var(--outlineLevelWidth) - 1px);
	padding:0px;
}

/* New Layout */

.outline>.tree-item>.tree-item-self>.tree-item-inner:first-child
{
	position:relative;
	left:var(--outlineLevelWidth);
	margin-right:var(--outlineLevelWidth);
}
.outline>.tree-item>.tree-item-children .tree-item-inner:first-child
{
	position:relative;
	left:var(--outlineLevelWidth);
	margin-right:var(--outlineLevelWidth);
}
