body
{
	--nav-item-size: 12px;
    --nav-item-color: var(--text-muted);
    --nav-item-color-hover: var(--text-normal);
    --nav-item-color-active: var(--text-normal);
    --nav-item-color-selected: var(--text-normal);
    --nav-item-color-highlighted: var(--text-accent-hover);
    --nav-item-background-hover: var(--background-modifier-hover);
    --nav-item-background-active: var(--background-modifier-hover);
    --nav-item-background-selected: hsla(var(--color-accent-hsl), 0.2);
    --nav-item-padding: var(--size-4-1) var(--size-4-2);
    --nav-item-parent-padding: var(--nav-item-padding);
    --nav-item-children-padding-left: 9px;
    --nav-item-children-margin-left: 10px;
    --nav-item-weight: inherit;
    --nav-item-weight-hover: inherit;
    --nav-item-weight-active: inherit;
    --nav-item-white-space: nowrap;
}

.nav-folder-title
{
	align-items:center;
}
.nav-folder-collapse-indicator {
  justify-content:center;
  width: 20px;
  padding:auto;
  position:relative;
}
.nav-file:not(.mod-root>.nav-folder-children>.nav-file)
{
	padding-left:0px;
}
.nav-file-title,
.nav-folder-title
{
  padding:0px;
  margin:0px;
}

.nav-file-title.is-active,
.nav-file-title.is-selected,
body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-file-title.is-selected:hover
{
	text-decoration:underline;
}
.nav-folder-title.is-active,
.nav-folder-title.is-selected,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-selected:hover
{
	text-decoration:underline;
}
body:not(.is-grabbing) .nav-file-title.is-being-dragged,
body:not(.is-grabbing) .nav-folder-title.is-being-dragged,
.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged {
  background-color: var(--interactive-accent);
}
.nav-folder-collapse-indicator.collapse-icon svg.svg-icon {
	color:var(--collapseIconColor);
}
.nav-file-title-content,
.nav-folder-title-content
{
  overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: normal;
    padding-left:3px;
}
.nav-folder-title-content
{
    border-left:1px solid var(--level2);
    min-height:var(--fileHeight);
}
.nav-file-title-content.is-being-renamed,
.nav-folder-title-content.is-being-renamed {
  flex-grow: 1;
  white-space: normal;
  cursor: text;
}
.nav-folder-title.is-being-dragged-over {
  border-radius: var(--radius-s);
  color: var(--nav-item-color-highlighted);
}

.nav-folder.mod-root>.nav-folder-title:first-of-type
{
	line-height:30px;
	font-size:24px;
	height:30px;
}
.mod-root>.nav-folder-title:first-of-type .nav-folder-title-content
{
	margin:auto;
	text-align:center;
  height:24px;
  border:0px;
}
.nav-folder-children div[style*="height: 0.1px"]
{
  height:0px !important;
}
.nav-file-tag
{
  margin-left:10px;
}
