/* Outline */

/* Debug */

/*
.workspace-leaf-content[data-type=outline] .tree-item
{
	border: 1px solid red;
}
.workspace-leaf-content[data-type=outline] .tree-item-self
{
	border: 1px solid blue;
}
.workspace-leaf-content[data-type=outline] .tree-item-children 
{
	border: 1px dotted green;
}
.workspace-leaf-content[data-type=outline] .tree-item-inner
{
	border: 1px solid yellow;
}
.workspace-leaf-content[data-type=outline] .tree-item-icon
{
	border: 1px solid purple;
}
*/
.workspace-leaf-content[data-type=outline] .tree-item
{
	margin-top:-1px;
}
.workspace-leaf-content[data-type=outline] .tree-item .tree-item:first-of-type
{
	margin-top:0px;
}
.workspace-leaf-content[data-type=outline] .tree-item-inner
{
	border-left:1px solid var(--text-faint);
}
.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable:hover .tree-item-inner
{
	border-left:1px solid var(--text-faint);
}
.workspace-leaf-content[data-type=outline] .tree-item-inner::after {
	font-size:12px;
	content: "–";

	position: absolute;
	left: calc(calc(var(--outlineLevelWidth) + 8px) / -2);
	top:-1px;
}