/* Outline */

/* Debug */

/*
.workspace-leaf-content[data-type=outline] .tree-item
{
	border: 1px solid red;
}
.workspace-leaf-content[data-type=outline] .tree-item-self
{
	border: 1px solid blue;
}
.workspace-leaf-content[data-type=outline] .tree-item-children 
{
	border: 1px dotted green;
}
.workspace-leaf-content[data-type=outline] .tree-item-inner
{
	border: 1px solid yellow;
}
.workspace-leaf-content[data-type=outline] .tree-item-icon
{
	border: 1px solid purple;
}
*/
.workspace-leaf-content[data-type=outline] .tree-item
{
	margin-top:-1px;
}
.workspace-leaf-content[data-type=outline] .tree-item .tree-item:first-of-type
{
	margin-top:0px;
}
.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable
{
	box-shadow:var(--bevelStyleTreeItem);
}
.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable:hover
{
	text-decoration: underline;
}
.workspace-leaf-content[data-type=outline] .tree-item-inner
{
	border-left:1px solid var(--lineColor);
}
.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable:hover .tree-item-inner
{
	border-left:1px solid var(--lineColor);
}
.workspace-leaf-content[data-type=outline] .tree-item-inner::before {
	content: "–";
	position:relative;
	left: calc(calc(var(--outlineLevelWidth) + var(--outlineDashPos)) / -2);
	display:inline-block;
}
.workspace-leaf-content[data-type=outline] .tree-item-self.mod-collapsible .tree-item-inner::before
{
	content: "";
}
.workspace-leaf-content[data-type=outline] .tree-item-self.mod-collapsible .tree-item-inner
{
	padding-left:10px;
}
.workspace-leaf-content[data-type=outline] .tree-item-self.is-clickable:hover .tree-item-inner::before
{
	
	text-decoration-line:none;
	text-decoration-color:transparent;
}
.workspace-leaf-content[data-type=outline] .tree-item-children
{
	border-left:0px;
}