%styleNavBar
{
	background: linear-gradient(var(--d8d8), var(--d8dA) 50%, var(--d8dB) 50%, var(--d8dC));
	box-shadow: inset 0 1px #fff2, inset 0 2px #fff1;
}

%styleStatusBar
{
	background-image: linear-gradient(var(--d8d9), var(--d8dA) 50%, var(--d8dB) 50%, var(--d8dD));
    box-shadow: inset 0 2px #fff1;
    border-top: solid 1px #000b;
}

%verticalMenuButton
{
	text-shadow: 0 1px 3px #0008;
	&:hover
	{
		background: linear-gradient(#373B4288, #3F434B88 50%, #2F333A88 50%, #272B3188);
    	box-shadow: inset 0 1px #fff2, 0 1px 2px #0008;
	}
	&:active
	{
		background: linear-gradient(var(--d8dB), var(--d8dC) 50%, var(--d8dB) 50%, var(--d8dA));
 	    box-shadow: inset 0 1px 4px #000, 0 1px #fff2;
	}
	&.is-active
	{
		background: linear-gradient(var(--d8d8), var(--d8d7) 50%, var(--d8d9) 50%, var(--d8dA));
		box-shadow: inset 0 0 0 1px #fff1, inset 0 1px #fff3, 0 0 0 1px #000b, 0 1px 3px #0008;
		text-shadow: 0 1px 3px #000e;
	}
}

%buttonArray
{
	border: solid 1px #000;
	background: linear-gradient(var(--d8d7), var(--d8d9) 50%, var(--d8dA) 50%, var(--d8d9));
	box-shadow: inset 0 0 0 1px #fff2, 0 1px #fff1; // 0 1px 5px #000;
	&:hover
	{
		background: linear-gradient(var(--d8d6), var(--d8d8) 50%, var(--d8d9) 50%, var(--d8d8));
		box-shadow: inset 0 0 0 1px #fff2, 0 1px #fff1; //0 1px 8px 1px #000;
		//z-index: 99;
	}
	&:not(:last-of-type)
	{
		border-right: 0px;
	}
}

%settingsButton
{
	background: linear-gradient(to bottom, var(--d8d2) 0%, var(--d8d4) 50%, var(--d8d5) 50%, var(--d8d8) 100%);
	text-shadow: 0 -1px #000, 0 1px 3px #0004;
	box-shadow: 0 0 0 1px #000b, inset 0 0 0 1px #fff4, inset 0 1px #fff4, inset 0 -1px #0008, 0 0 1px 2px #fff2;
	&:hover
	{
		background: linear-gradient(to bottom, var(--d8d0) 0%, var(--d8d2) 50%, var(--d8d4) 50%, var(--d8d5) 100%);
		box-shadow: 0 0 0 1px #000b, inset 0 0 0 1px #fff4, inset 0 1px #fff8, inset 0 -1px #6662, 0 0 3px 2px #fff6;
	}
	&:active
	{
		background: linear-gradient(to bottom, var(--d8d7) 0%, var(--d8d6) 50%, var(--d8d8) 50%, var(--d8d7) 100%);
		box-shadow: 0 0 0 1px #000b, inset 0 0 0 1px #fff2, inset 0 1px #fff2, inset 0 -1px #0002, 0 0 1px 2px #fff6;
	}
}

%settingsButtonAccent
{
	background: linear-gradient(to bottom, var(--d8br5) 0%, var(--d8br6) 50%, var(--d8br8) 50%, var(--d8brA) 100%);
    text-shadow: 0 -1px #000, 0 1px 3px #0004;
    box-shadow: 0 0 0 1px #000b, inset 0 0 0 1px #fff4, inset 0 1px #fff4, inset 0 -1px #0008, 0 0 1px 2px #fff2;
	&:hover
	{
		background: linear-gradient(to bottom, var(--d8br3) 0%, var(--d8br4) 50%, var(--d8br7) 50%, var(--d8br9) 100%);
    	box-shadow: 0 0 0 1px #000b, inset 0 0 0 1px #fff4, inset 0 1px #fff8, inset 0 -1px #6662, 0 0 3px 2px #fff6;	
	}
	&:active
	{
		background: linear-gradient(to bottom, var(--d8brA) 0%, var(--d8br9) 50%, var(--d8brB) 50%, var(--d8brA) 100%);
    	box-shadow: 0 0 0 1px #000b, inset 0 0 0 1px #fff2, inset 0 1px #fff2, inset 0 -1px #0002, 0 0 1px 2px #fff6;	
	}
}

%buttonArrayTabs
{
	@extend %buttonArray;

	border: solid 1px #000;
	border-bottom: 0px;
	background: linear-gradient(var(--d8d7), var(--d8d9) 50%, var(--d8dA) 50%, var(--d8dC));
	box-shadow: inset 0 0 0 1px #fff1, 0 0 0 1px #fff1;
}