%verticalMenuButton
{
	text-shadow: 0 1px 3px oklch(0 0 0 / 0.5333);
	&:hover
	{
		background: linear-gradient(oklch(0.3512 0.0133 261.73 / 0.5333), oklch(0.3822 0.0146 264.39 / 0.5333) 50%, oklch(0.32 0.0137 261.72 / 0.5333) 50%, oklch(0.2876 0.0124 258.37 / 0.5333));
    	box-shadow: inset 0 1px oklch(1 0 89.88 / 0.1333), 0 1px 2px oklch(0 0 0 / 0.5333);
	}
	&:active
	{
		background: linear-gradient(var(--d8dB), var(--d8dC) 50%, var(--d8dB) 50%, var(--d8dA));
 	    box-shadow: inset 0 1px 4px oklch(0 0 0), 0 1px oklch(1 0 89.88 / 0.1333);
	}
	&.is-active
	{
		background: linear-gradient(var(--d8d8), var(--d8d7) 50%, var(--d8d9) 50%, var(--d8dA));
		box-shadow: inset 0 0 0 1px oklch(1 0 89.88 / 0.0667), inset 0 1px oklch(1 0 89.88 / 0.2), 0 0 0 1px oklch(0 0 0 / 0.7333), 0 1px 3px oklch(0 0 0 / 0.5333);
		text-shadow: 0 1px 3px oklch(0 0 0 / 0.9333);
	}
}