.twilight.is-frameless.is-hidden-frameless:not(.in-progress)
{
    background-image: var(--art-cloudsbg);
    app-region: drag;
}
.twilight
{
    .titlebar
    {
        app-region: no-drag;
    }
    .status-bar
    {
        margin-left: calc(10px + var(--ribbon-width));
    }
    .horizontal-main-container {
        position: relative; // needed for absolute children to anchor to
        border-top: 1px solid transparent;
        border-image: linear-gradient(
            to right,
            #767A88 1px,
            #434757 7px,
            #434757 calc(100% - 7px),
            #767A88 calc(100%)
        ) 1;
        background-image: var(--backgroundCornerPiece), linear-gradient(to bottom, #102B6311, #0A1C4988);
        background-size: 140px auto;
        box-shadow: 0px 0px 14px 1px hsla(0, 0%, 0%, .35), 0px 0px 24px hsla(0, 88%, 6%, .45), 0 1px 0 0 black;

        
        margin: 10px;
        margin-left: calc(10px + var(--ribbon-width));
        margin-top: 10px !important;
        width: calc(100% - 60px);
    
        > .workspace > *
        {
            app-region: no-drag;
        }

        .workspace-split.mod-vertical.mod-root
        {
            height: calc(100% - 10px);
        }

        .mod-right-split
        {
            height: calc(100% - 10px);
        }
        
        &::before {
        content: '';
            position: absolute;
            top: 0;
            left: 0; // anchor to left edge
            height: 100%;
            width: 1px;
            background: linear-gradient(to bottom, #767A88, #434757 7px, #000000);
        }

        &::after {
        content: '';
            position: absolute;
            top: 0;
            right: 0; // anchor to right edge
            height: 100%;
            width: 1px;
            background: linear-gradient(to bottom, #767A88, #434757 7px, #000000);
        }
    }
}