.twilight.is-frameless.is-hidden-frameless:not(.in-progress)
{
    padding: 10px;
    padding-top: 10px !important;
    
    background-image: var(--backgroundSunflower);
    app-region: drag;
}
.twilight
{
    .app-container {
        position: relative; // needed for absolute children to anchor to
        border-top: 1px solid transparent;
        border-image: linear-gradient(
            to right,
            #767A88 1px,
            #434757 7px,
            #434757 calc(100% - 7px),
            #767A88 calc(100%)
        ) 1;
        background-image: var(--backgroundCornerPiece);
        background-size: 140px auto;
        box-shadow: 0px 0px 14px hsla(0, 0%, 0%, .35), 0px 0px 24px hsla(0, 88%, 6%, .45), 0 1px 0 0 black;
        background-color: #292C5133;
        app-region: no-drag;
    }

    .app-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; // anchor to left edge
    height: 100%;
    width: 1px;
    background: linear-gradient(to bottom, #767A88, #434757 7px, #000000);
    }

    .app-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0; // anchor to right edge
    height: 100%;
    width: 1px;
    background: linear-gradient(to bottom, #767A88, #434757 7px, #000000);
    }
}