.twilight.is-frameless.is-hidden-frameless:not(.in-progress)
{
    background-image: var(--art-bg-moon);
    background-size: contain;
    app-region: drag;
}
.twilight
{
    .titlebar
    {
        app-region: no-drag;
    }
    .status-bar
    {
        margin-left: calc(10px + var(--ribbon-width));
    }
    .horizontal-main-container {
        position: relative; // needed for absolute children to anchor to
        border-top: 1px solid transparent;
        
        border-image: linear-gradient(
            to right,
            oklch(0.5809 0.0219 273.02) 1px,
            oklch(0.4006 0.0275 274.09) 7px,
            oklch(0.4006 0.0275 274.09) calc(100% - 7px),
            oklch(0.5809 0.0219 273.02) calc(100%)
        ) 1;
        background-image: var(--backgroundCornerPiece), linear-gradient(to bottom, oklch(0.3059 0.1047 262.57 / 0.0667), oklch(0.244 0.0874 264.34 / 0.5333));
        background-size: 140px auto;
        box-shadow: 0px 0px 14px 1px hsla(0, 0%, 0%, .35), 0px 0px 24px hsla(0, 88%, 6%, .45), 0 1px 0 0 black;

        
        margin: 10px;
        margin-left: calc(10px + var(--ribbon-width));
        margin-top: 10px !important;
        width: calc(100% - 60px);
    
        > .workspace > *
        {
            app-region: no-drag;
        }

        .workspace-split.mod-vertical.mod-root
        {
            height: calc(100% - 10px);
        }

        .mod-right-split
        {
            height: calc(100% - 10px);
        }
        
        &::before {
        content: '';
            position: absolute;
            top: 0;
            left: 0; // anchor to left edge
            height: 100%;
            width: 1px;
            background: linear-gradient(to bottom, oklch(0.5809 0.0219 273.02), oklch(0.4006 0.0275 274.09) 7px, oklch(0 0 0));
        }

        &::after {
        content: '';
            position: absolute;
            top: 0;
            right: 0; // anchor to right edge
            height: 100%;
            width: 1px;
            background: linear-gradient(to bottom, oklch(0.5809 0.0219 273.02), oklch(0.4006 0.0275 274.09) 7px, oklch(0 0 0));
        }
    }
}