.twilight 
{
    .view-header-title
    {
        font-size:30px;
        text-shadow: 2px 2px 2px black;
        
    }
    .view-header-nav-buttons
    {
        .clickable-icon
        {
            border-radius: 0px 13px 13px 13px;
            
        }
    }
    .workspace-tab-header.is-active
    {
        
    }
}