.twilight
{
    .workspace-ribbon
    {
        position: fixed;
        top: 0px;
        left: 0px;
        border-right: 1px solid oklch(0.4033 0.0588 279.64);
        border-image: linear-gradient(to bottom, oklch(0.5809 0.0219 273.02), oklch(0.4006 0.0275 274.09) 7px, oklch(0 0 0)) 1;
        margin-top: 0px;
        padding-top: 40px;
        height: 100%;
        background-image: var(--art-topspine);
    }
}