.twilight
{
    :is(.mod-left-split, .mod-right-split) .workspace-tab-header-container .workspace-tab-header-container-inner
    {
        gap:8px;
        .workspace-tab-header
        {
            border-top: 1px solid oklch(0.514 0.0479 277.21);
            border-left: 1px solid oklch(0.514 0.0479 277.21);
            border-right: 1px solid oklch(0.514 0.0479 277.21);
            background-image: linear-gradient(to top, oklch(0.2139 0.0681 262.41 / 0.4), oklch(0 0 0 / 0.4));
            position:relative;
            &.is-active
            {
                border-top: 1px solid oklch(0.6997 0.0471 278.13);
                border-left: 1px solid oklch(0.6997 0.0471 278.13);
                border-right: 1px solid oklch(0.6997 0.0471 278.13);
                background-image: linear-gradient(to top, oklch(0.3238 0.1093 262.91 / 0.6667), oklch(0.2139 0.0681 262.41 / 0.6667));
                z-index: 1;
            }
            &::before {
                content: '';
                position: absolute;
                left: -4px;
                top: 0;        // add this
                height: 100%;
                width: 4px;
            }
            &::after {
                content: '';
                position: absolute;
                right: -4px;
                top: 0;        // add this
                height: 100%;
                width: 4px;
            }
        }
    }
    .mod-left-split .workspace-tab-header-container .workspace-tab-header
    {
        border-radius: 13px 0 0 0;
    }
    .mod-right-split .workspace-tab-header-container .workspace-tab-header
    {
        border-radius: 0 13px 0 0;
    }
    
}