.twilight 
{
    .mod-sidedock .nav-header
    {
        background-image: var(--art-spine2);
        background-size: 300px auto;
        background-color: red;
    }
    .workspace-tab-header.is-active
    {
        
    }
}